{
  "env" : {"jest":true},
  "extends": "airbnb-base",
  "rules": {
    "arrow-body-style": ["warn", "as-needed"],
    "no-unused-vars": ["error", { "args": "none" }],
    "max-len": ["error", { "code": 200 }],
    "no-param-reassign": 0,
    "no-plusplus": 0
  }
}